:root {
    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'Open Sans', sans-serif;
  
    --color-golden: #DCCA87;
    --color-black: #0C0C0C;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-white: #FFFFFF;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: var(--color-crimson);
    color: var(--color-black);
    font-family: var(--font-base);
  }
  
  .header {
    color: var(--color-golden);
    margin-bottom: 1.5em;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-field {
    margin: 0.5em;
    width: 25ch;
  }
  
  .form-button {
    margin: 2em;
    color: var(--color-white);
    background-color: var(--color-golden);
  }
  